/* # Sidebars and Widgets ===== */
.widget-title,
.widgettitle {
	margin-bottom: rem-calc(16);
	font-size: rem-calc(12);

	span {		
		display: inline-block;
		padding: rem-calc(0 0 8 0);
		border-bottom: 1px solid $light-gray;
	}
}

.widget {
	position: relative;
	padding: 0 rem-calc(32) rem-calc(16);
	margin-bottom: rem-calc(32);

	p,
	ul,
	ol,
	dl {
		font-size: rem-calc(14);
	}

	ul,
	ol,
	dl {
		list-style-type: none;
		margin-left: 0;
	}
}