.section-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	width: 100%;
	text-align: center;
	padding: rem-calc(24 0);
	color: $primary-color;
	text-transform: uppercase;
	font-size: rem-calc(18);
	letter-spacing: rem-calc(4);
	font-family: $body-font-family;

	&.latest {
		margin-top: rem-calc(32);
	}

	span {
		flex: 1 0 auto;
		border-top: 1px solid $light-gray;

		&.text {
			flex: 0 0 auto;
			border-top: none;
			border-left: 1px solid $light-gray;
			border-right: 1px solid $light-gray;
			padding: 0 rem-calc(24);
		}
	}
}