/* # Comments ===== */
#comments-template {
	@include breakpoint($global-width) {
		margin: calc(var(--fathom--spacing-vertical) * 8) auto;
		width: $inner-width;
	}
}

#comments {
	padding: calc(var(--fathom--spacing-vertical) * 4) 0;
}

#comments-number {
	font-size: var(--hiq-font-size-3);
}

.comment-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ol.children {
	list-style-type: none;
	margin: calc(var(--fathom--spacing-vertical) * 3) 0 0 0;
	border-left: 1px solid var(--hiq-color-gray-6);
}

/* ## Individual Comments ===== */
li.comment,
li.ping,
li.bypostauthor {
	margin-bottom: calc(var(--fathom--spacing-vertical) * 3);
	padding: calc(var(--fathom--spacing-vertical) * 3) 0 0 0;
}

.comment-content {
	margin: var(--fathom--spacing-vertical) 0 var(--fathom--spacing-horizontal) calc(var(--fathom--spacing-horizontal) + 60px);
}

/* ## Comment Avatars ===== */
.comment-author {
	img {
		border-radius: 10rem;
		float: left;
	}

	.fn {
		font-family: var(--fathom-heading--font-family);
		font-weight: var(--hiq-font-weight-bold);
		margin-left: var(--fathom--spacing-horizontal);
	}

	.says {
		display: none;
	}
}

/* ## Comment Meta===== */
.comment-metadata {
	margin-left: calc(var(--fathom--spacing-horizontal) + 60px);

	time,
	.comment-permalink,
	.comment-edit-link {
		font-size: var(--hiq-font-size-6);
		color: var(--hiq-color-gray-4);
	}

	.comment-permalink,
	.comment-edit-link {
		&:before {
			content: '\00b7';
			padding: 0 1rem 0 0.5rem;
			color: var(--hiq-color-black);
		}
	}

	.ping & {
		float: none;
	}
}

/* ## Comment Reply ===== */
.reply {
	margin-left: calc(var(--fathom--spacing-horizontal) + 60px);
}
.comment-reply-link {
	font-size: var(--hiq-font-size-6);
	background-color: var(--hiq-color-white);
	border: 1px solid var(--hiq-color-gray-5);
	color: var(--hiq-color-gray-4);
	padding: var(--hiq-button-vertical-padding) var(--hiq-button-horizontal-padding);
}


/* ## Comment Form ===== */
#respond {
	padding: 4.8rem 0;
}

#reply-title {
	font-size: 1.8rem;
}

