.hentry {
	.home &,
	.archive & {
		margin-bottom: calc(var(--fathom--spacing-vertical) * 8);
	}
}

.entry-header {
	@include breakpoint($inner-width) {
		.single &,
		.page & {
			margin: calc(var(--fathom--spacing-vertical) * 8) auto;
			max-width: $inner-width;
		}
	}
}

.entry-published {
	font-size: var(--hiq-font-size-6);
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.entry-title {
	margin-bottom: calc(var(--fathom--spacing-vertical) * 2);

	.home &,
	.archive & {
		font-size: var(--hiq-font-size-4);
	}
}

.entry-author a {
	color: var(--hiq-color-black);
}

.entry-content {
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}

.entry-content .wp-audio-shortcode,
.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
*[class*=inner-container] > *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce),
.default-max-width {
	@include breakpoint($inner-width) {
		max-width: $inner-width;
		margin-left: auto;
		margin-right: auto;
	}
}

.entry-footer {
	border-top: 1px solid var(--hiq-color-gray-6);
	padding-top: var(--fathom--spacing-vertical);

	@include breakpoint($inner-width) {
		.single &,
		.page & {
			margin: calc(var(--fathom--spacing-vertical) * 8) auto;
			max-width: $inner-width;
		}
	}
}

.entry-metadata {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		font-size: 1.2rem;
		text-transform: uppercase;
		font-weight: 400;
		color: var(--hiq-color-gray-4);
		padding-bottom: calc(var(--fathom--spacing-vertical) / 2);

		a,
		a:hover,
		a:visited,
		a:active {
			color: var(--hiq-color-gray-3);
		}
	}
}

.entry-meta-prep {
	display: block;
	font-family: var(--fathom-heading--font-family);
	font-style: italic;
	text-transform: none;
	font-weight: 300;
}

.read-more {
	.button {
		font-size: var(--hiq-font-size-6);
		background-color: var(--hiq-color-white);
		border-color: var(--hiq-color-gray-5);
		color: var(--hiq-color-gray-4);
	}
}