/* Breakpoints */
$small: 0;
$medium: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;
$global-width: 1200px;
$inner-width: $medium - 80px;

$baseline-unit: 10px;
$nav-breakpoint: $medium;
$global-padding: 1rem;
$spacing-horizontal: 2rem;
$spacing-vertical: 1.2rem;

:root {
	/* gray palette */
	--hiq-color-gray-1: hsl(220, 10%, 5%);
	--hiq-color-gray-2: hsl(220, 10%, 10%);
	--hiq-color-gray-3: hsl(220, 10%, 20%);
	--hiq-color-gray-4: hsl(220, 10%, 40%);
	--hiq-color-gray-5: hsl(220, 10%, 60%);
	--hiq-color-gray-6: hsl(220, 10%, 90%);
	--hiq-color-gray-7: hsl(220, 10%, 95%);
	--hiq-color-gray-8: hsl(220, 10%, 98%);
	--hiq-color-primary: hsl(131, 79%, 71%);
	--hiq-color-secondary: hsl(321, 70%, 53%);
	--hiq-color-black: #000;
	--hiq-color-white: #fff;
	--hiq-font-family-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	--hiq-font-family-secondary: 'Merriweather', "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif;

	--hiq-font-size-1: 5.6rem;
	--hiq-font-size-2: 4.2rem;
	--hiq-font-size-3: 3.2rem;
	--hiq-font-size-4: 2.4rem;
	--hiq-font-size-5: 1.8rem;
	--hiq-font-size-6: 1.4rem;
	--hiq-font-size-base: var(--hiq-font-size-5);
	--hiq-font-size-large: var(--hiq-font-size-4);
	--hiq-font-size-small: var(--hiq-font-size-6);

	--hiq-line-height-base: 1.5;
	--hiq-heading-line-height: 1.2;

	--hiq-font-weight-light: 300;
	--hiq-font-weight-normal: 400;
	--hiq-font-weight-medium: 500;
	--hiq-font-weight-semibold: 600;
	--hiq-font-weight-bold: 700;
	--hiq-font-weight-base: var(--hiq-font-weight-normal);

	--hiq-border-radius: 0;

	/* Typography */
	--fathom-body--font-family: var(--hiq-font-family-base);
	--fathom-heading--font-family: var(--hiq-font-family-secondary);

	/* Spacing */
	--hiq-block-element-margin-bottom: 2rem;
	--hiq-heading-margin-bottom: 1.2rem;
	--hiq-paragraph-margin-bottom: 1.2rem;

	--fathom--spacing-measure: unset; // Use ch units here. ie: 60ch = 60 character max-width
	--fathom--spacing-horizontal: 2rem;
	--fathom--spacing-vertical: 1.2rem;

	/* Links */
	--hiq-link-color: var(--hiq-color-primary);
	--hiq-link-hover-color: var(--hiq-color-gray-2);
	--hiq-link-active-color: var(--hiq-color-primary);
	--hiq-link-visited-color: var(--hiq-color-primary);
	--hiq-link-visited-hover-color: var(--hiq-link-hover-color);
	--hiq-link-visited-active-color: var(--hiq-link-active-color);
	--hiq-link-text-decoration: none;

	/* Forms */
	--hiq-input-height: 4.4rem;

	/* Buttons */
	--hiq-button-height: auto;
	--hiq-button-vertical-padding: 0.5rem;
	--hiq-button-horizontal-padding: 1.5rem;
	--hiq-button-border-width: 1px;
	--hiq-button-border-radius: var(--hiq-border-radius);
	--hiq-button-font-weight: var(--hiq-font-weight-medium);
	--hiq-button-border-color: var(--hiq-color-primary);
	--hiq-button-background-color: var(--hiq-color-primary);
	--hiq-button-text-color: white;
	--hiq-button-hover-border-color: var(--hiq-color-gray-2);
	--hiq-button-hover-background-color: var(--hiq-color-gray-2);
	--hiq-button-hover-text-color: white;
	--hiq-button-active-border-color: var(--hiq-color-primary);
	--hiq-button-active-background-color: var(--hiq-color-primary);
	--hiq-button-active-text-color: white;

	/* Tables */
	--hiq-table-head-border-width: var(--hiq-table-cell-border-width);
	--hiq-table-foot-border-width: var(--hiq-table-cell-border-width);
	--hiq-table-caption-padding-vertical: 0.5rem;
	--hiq-table-caption-text-color: var(--hiq-color-gray-5);
	--hiq-table-caption-font-weight: var(--hiq-font-weight-semibold);
	--hiq-table-cell-padding-vertical: 0.5rem;
	--hiq-table-cell-padding-horizontal: 1rem;
	--hiq-table-cell-border-width: 1px;
	--hiq-table-cell-border-color: var(--hiq-color-gray-6);
	--hiq-table-heading-background-color: var(--hiq-color-gray-7);
	--hiq-table-heading-text-color: var(--hiq-color-gray-4);
	--hiq-table-heading-font-weight: var(--hiq-font-weight-medium);

	/* Main Navigation */
	--fathom-menu--font-family: var(--hiq-font-family-base);
	--fathom-menu--font-family-mobile: var(--hiq-font-family-base);
	--fathom-menu--font-size: var(--hiq-font-size-5);
	--fathom-menu--font-size-sub-menu: var(--hiq-font-size-6);
	--fathom-menu--font-size-mobile: var(--hiq-font-size-5);
	--fathom-menu--font-size-sub-menu-mobile: var(--hiq-font-size-5);
	--fathom-menu--font-size-button: var(--hiq-font-size-6);
	--fathom-menu--font-style: normal;
	--fathom-menu--font-style-sub-menu-mobile: normal;
	--fathom-menu--font-weight: normal;
	--fathom-menu--font-weight-button: 500;
	--fathom-menu--link-color: var(--hiq-color-gray-4);
	--fathom-menu--link-color-hover: var(--hiq-color-primary-hover);
	--fathom-menu--text-color: var(--hiq-color-primary);
	--fathom-menu--padding: calc(0.66 * var(--hiq-spacing-unit));
	--fathom-menu--border-color: var(--hiq-color-primary);

	--fathom-menu--sub-menu-background-color: #000;
	--fathom-menu--sub-menu-link-color: #fff;

	--fathom-menu--dropdown-arrow-width: 4px;
	--fathom-menu--dropdown-arrow-border-width: 1px;
	--fathom-menu--dropdown-arrow-color: var(--hiq-color-primary);

	--fathom-flyout--background-color: #000;
	--fathom-flyout--link-color: #fff;

	--fathom-hamburger--color: #f00;
	--fathom-hamburger--width: 24px;
	--fathom-hamburger--bar-height: 3px;
	--fathom-hamburger--bar-spacing: 8px;
}