/* # Archives ===== */
.archive-header {
	margin-bottom: rem-calc(48);

	.archive-title {
		margin-bottom: 0;
	}
}

/* # Pagination ===== */
.nav-links {
	span {
		display: block;
		padding: $pagination-item-padding;
		border-radius: $pagination-radius;
		color: $pagination-item-color;
	}
}

.page-numbers {
	margin-left: 0;
}