.home {
	.latest-articles {
		display: flex;
		flex-flow: row wrap;
		margin: rem-calc(0 -24);

		@include breakpoint(medium up) {
			margin-top: rem-calc(24);
		}

		article {
			flex: 0 0 100%;
			width: 100%;
			padding: rem-calc(24);

			@include breakpoint(medium up) {
				flex: 0 0 33.3333%;
				width: 33.3333%;
			}

			.entry-thumbnail {
				margin-left: rem-calc(-24);
				margin-right: rem-calc(-24);

				@include breakpoint(medium up) {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}

	.article-list {
		article {
			display: flex;
			flex-flow: row wrap;
			margin-left: rem-calc(-24);
			margin-right: rem-calc(-24);

			.entry-thumbnail {
				flex: 0 0 100%;
				width: 100%;

				@include breakpoint(medium up) {
					flex: 0 0 33.3333%;
					width: 33.3333%;
					padding: rem-calc(24);
				}
			}

			.entry-body {
				flex: 0 0 100%;
				width: 100%;
				padding-left: rem-calc(24);
				padding-right: rem-calc(24);

				@include breakpoint(medium up) {
					flex: 0 0 66.6666%;
					width: 66.6666%;
					padding: rem-calc(24);
				}
			}
		}
	}
}