/* # Posts ===== */
article {
	margin-bottom: rem-calc(96);

	.singular & {
		margin-bottom: rem-calc(64);
	}

	&:last-child:not(:first-child) {
		margin-bottom: 0;
	}
}

/* ## Post Header ===== */
.entry-thumbnail {
	margin-bottom: rem-calc(16);
}

.entry-header {
	margin-bottom: rem-calc(48);
	text-align: center;
	border-bottom: 1px solid $light-gray;
}

.entry-byline {
	margin-bottom: rem-calc(20);
	color: $dark-gray;
	font-size: rem-calc(12);

	a {
		color: $dark-gray;

		&:hover {
			color: $primary-color;
		}
	}

	.comments-link,
	.entry-published,
	.post-edit-link {
		&:before {
			content: '\00b7';
			padding: rem-calc(0 10 0 5);
			color: $black;
		}
	}
}

/* ## Post Footer ===== */
.entry-footer {
	padding: rem-calc(16 0 0 0);
	margin: rem-calc(48 0 0 0);
	color: $dark-gray;
	font-size: rem-calc(12);
	border-top: 1px solid $light-gray;
}

.loop-nav {
	font-size: rem-calc(12);
	display: flex;

	h5 {
		font-size: rem-calc(12);
		font-weight: bold;
	}

	.prev,
	.next {
		text-align: left;
		flex: 1 0 auto;

		span {
			display: block;
			font-size: rem-calc(12);
			color: $medium-gray;
		}
	}

	.prev {
		width: 50%;
		padding-right: rem-calc(32);
		border-right: 1px solid $light-gray;
	}

	.next {
		width: 100%;
	}

	.prev + .next {
		width: 50%;
		padding-left: rem-calc(32);
	}
}