/* # Posts ===== */
article {
	margin-bottom: rem-calc(96);

	.singular & {
		margin-bottom: rem-calc(64);
	}

	&:last-child:not(:first-child) {
		margin-bottom: 0;
	}

	.read-more {
		a.button {
			background-color: $white;
			color: $black;
			border: 1px solid $medium-gray;

			&:hover {
				background-color: $black;
				color: $white;
			}
		}
	}
}

/* ## Post Header ===== */
.entry-thumbnail {
	margin-bottom: rem-calc(16);
}

.entry-header {
	margin-bottom: rem-calc(16);
}

.entry-title {
	font-size: rem-calc(21);
	margin-bottom: rem-calc(4);

	.singular:not(.home) & {
		font-size: rem-calc(33);
	}

	a {
		color: $black;
	}
}

.entry-byline {
	margin-bottom: rem-calc(24);
	color: $dark-gray;
	font-family: $header-font-family;
	font-size: rem-calc(12);
	font-weight: 300;
	font-style: italic;

	a {
		color: $dark-gray;

		&:hover {
			color: $primary-color;
		}
	}

	.comments-link,
	.entry-published,
	.post-edit-link {
		&:before {
			content: '\00b7';
			padding: rem-calc(0 10 0 5);
			color: $black;
		}
	}
}

/* ## Post Content ===== */
.entry-content {
	@include clearfix;
}

.entry-summary,
.entry-content {
	color: #626262;
}

/* ## Post Footer ===== */
.entry-footer {
	padding: rem-calc(16 0 0 0);
	margin: rem-calc(16 0 0 0);
	color: $dark-gray;
	font-size: rem-calc(12);
}

.loop-nav {
	font-size: rem-calc(12);
	display: flex;

	h5 {
		font-size: rem-calc(12);
	}

	.prev,
	.next {
		text-align: left;
		flex: 1 0 auto;

		span {
			display: block;
			font-size: rem-calc(12);
			color: $medium-gray;
		}
	}

	.prev {
		width: 50%;
		padding-right: rem-calc(32);
		border-right: 1px solid $light-gray;
	}

	.next {
		width: 100%;
	}

	.prev + .next {
		width: 50%;
		padding-left: rem-calc(32);
	}
}