/* # Content Layout Structure ===== */
#main {
	padding-top: calc(var(--fathom--spacing-vertical) * 2);
	padding-bottom: calc(var(--fathom--spacing-vertical) * 2);
}

.has-post-thumbnail {
	#main {
		padding-top: 0;
	}
}

.header-wrap {
	padding: calc(var(--fathom--spacing-vertical) * 2) calc(var(--fathom--spacing-horizontal) * 2);

	@media (min-width: $nav-breakpoint) and (max-width: $large - 1) {
		.site-branding,
		.site-navigation {
			flex: 0 0 $inner-width;
			width: $inner-width;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
		}

		#menu-primary {
			margin-left: -1 * $global-padding;
			margin-right: -1 * $global-padding;
		}
	}

	@include breakpoint($large) {
		#menu-primary {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.content-wrap {
	max-width: 100%;
}

.main-wrap {
	max-width: $global-width;
	padding: calc(var(--fathom--spacing-vertical) * 2) calc(var(--fathom--spacing-horizontal) * 2);
	background-color: var(--hiq-color-white);

	@include breakpoint($global-width + 48px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.footer-wrap {
	background-color: var(--hiq-color-white);
	margin-left: calc(var(--fathom--spacing-vertical) * 2);
	margin-right: calc(var(--fathom--spacing-vertical) * 2);
	padding: calc(var(--fathom--spacing-vertical) * 2) calc(var(--fathom--spacing-horizontal) * 2);

	@include breakpoint($global-width + 48px) {
		max-width: $global-width;
		margin: 0 auto;
	}
}

/* # Container Layout Structure ===== */
.container-body-boxed,
.container-body-contained,
.container-body-full-width {
	&.home,
	&.archive {
		@include breakpoint($medium) {
			.content-wrap,
			.sidebar {
				width: $inner-width;
				margin-left: auto;
				margin-right: auto;
				padding-left: 0;
				padding-right: 0;
			}
		}

		@include breakpoint($global-width + 48px) {
			.main-wrap {
				display: flex;
				justify-content: space-between;
			}

			.content-wrap {
				flex: 0 0 $inner-width;
				margin-left: 0;
				margin-right: 0;
			}

			.sidebar {
				flex: 0 0 30%;
				width: 30%;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

.container-body-boxed {
	#main {
		background-color: var(--hiq-color-gray-6);
	}

	.main-wrap {
		margin-left: calc(var(--fathom--spacing-vertical) * 2);
		margin-right: calc(var(--fathom--spacing-vertical) * 2);

		@include breakpoint($global-width + 48px) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.container-body-contained {
	#main {
		background-color: var(--hiq-color-white);
	}
}

.container-body-full-width {
	#main {
		background-color: var(--hiq-color-white);
	}

	.main-wrap {
		max-width: none;
	}
}

.container-header-boxed {
	header.header {
		background-color: var(--hiq-color-gray-6);
		padding: calc(var(--fathom--spacing-vertical) * 2) 0 0 0;
	}
	
	.header-wrap {
		background-color: var(--hiq-color-white);
		margin-left: calc(var(--fathom--spacing-vertical) * 2);
		margin-right: calc(var(--fathom--spacing-vertical) * 2);

		@include breakpoint($global-width + 48px) {
			max-width: $global-width;
			margin: 0 auto;
		}
	}
}

.container-header-contained {
	header.header {
		background-color: var(--hiq-color-white);
	}
	
	.header-wrap {
		@include breakpoint($global-width + 48px) {
			max-width: $global-width;
			margin: 0 auto;
		}
	}
}

.container-header-full-width {
	.header-wrap {
		max-width: none;
	}
}

.container-footer-boxed {
	footer.footer {
		background-color: var(--hiq-color-gray-6);
		padding-bottom: calc(var(--fathom--spacing-vertical) * 2);
	}
}

.container-footer-contained {
	footer.footer {
		background-color: var(--hiq-color-white);
	}

	.footer-wrap {
		max-width: $global-width;
		margin-left: auto;
		margin-right: auto;
	}
}

.container-footer-full-width {
	.footer-wrap {
		max-width: none;
	}
}

.container-page-boxed,
.container-post-boxed,
.container-singular-boxed,
.container-post-contained,
.container-page-contained,
.container-singular-contained {
	@include breakpoint($medium) {
		.content-wrap {
			width: $inner-width;
			margin-left: auto;
			margin-right: auto;
			padding-left: 0;
			padding-right: 0;
		}
	}

	@include breakpoint($global-width + 48px) {
		.main-wrap {
			max-width: $global-width;
		}

		.content-wrap {
			flex: 0 0 $inner-width;
		}
	}
}

.container-page-boxed,
.container-post-boxed,
.container-singular-boxed {
	#main {
		background-color: var(--hiq-color-gray-6);
	}

	.main-wrap {
		margin-left: calc(var(--fathom--spacing-vertical) * 2);
		margin-right: calc(var(--fathom--spacing-vertical) * 2);

		@include breakpoint($global-width + 48px) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.container-post-contained,
.container-page-contained,
.container-singular-contained {
	#main {
		background-color: var(--hiq-color-white);
	}
}

.container-post-full-width,
.container-page-full-width,
.container-singular-full-width {
	#main {
		background-color: var(--hiq-color-white);
	}

	.main-wrap {
		max-width: none;
	}
}